<footer class="footer">
  <div class="container footer__container">
    <nav class="footer__nav">
      <ul class="footer__nav__list">
        <li class="footer__nav__item">
          <a class="footer__nav__link" href="">Contacts</a>
        </li>
        <li class="footer__nav__item">
          <a class="footer__nav__link" href="">Rules</a>
        </li>
        <li class="footer__nav__item">
          <a class="footer__nav__link" href="">FAQ</a>
        </li>
      </ul>
    </nav>

    <div class="footer__text-wrapper">
      <svg width="40" height="23">
        <use href="./images/icons.svg#icon-gaming"></use>
      </svg>
      <p class="footer__text">
        VAVADA.COM is owned and operated by Vavada B.V. Vavada B.V., RN 143168,
        full EEA address is Hanchi Snoa 19, Trias Building, Curacao. Magefin
        Ltd. act as a payment agents of Vavada B.V.
      </p>
    </div>

    <div class="footer__payment-wrapper">
      <details class="footer__details">
        <summary class="footer__payment-button">
          Payment Methods
          <svg width="20" height="23">
            <use href="./images/icons.svg#icon-chevron"></use>
          </svg>
        </summary>
      </details>

      <div class="footer__payment-content">
        <div class="footer__payment-body">
          <ul class="footer__payment__list">
            <li class="footer__payment__item">
              <svg><use href="./images/icons.svg#icon-visa"></use></svg>
            </li>
            <li class="footer__payment__item">
              <svg><use href="./images/icons.svg#icon-mastercard"></use></svg>
            </li>
            <li class="footer__payment__item">
              <svg><use href="./images/icons.svg#icon-neteller"></use></svg>
            </li>
            <li class="footer__payment__item">
              <svg><use href="./images/icons.svg#icon-skrill"></use></svg>
            </li>
            <li class="footer__payment__item">
              <svg><use href="./images/icons.svg#icon-webmoney"></use></svg>
            </li>
            <li class="footer__payment__item">
              <svg><use href="./images/icons.svg#icon-mobilefad"></use></svg>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <p class="footer__copyright">
      &copy; Copyright 2025 vavada.com All rights reserved.
    </p>
  </div>
</footer>
