<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title">🎰 Vavada Casino –</h1>
    <span class="hero__span"> your ultimate gaming platform🎲</span>
    <p class="hero__text">
      Vavada is a modern online casino that offers a premium gaming experience
      with a vast selection of slot machines, live dealer games, and table
      classics. Licensed in Curacao, the platform ensures fair play and security
      for all users.
    </p>
    <div class="hero__img-wrapper">
      <div class="hero__title-wrapper">
        <h2 class="hero__img-title">Free bonus</h2>
        <button class="hero__button" type="button">Get bonus</button>
      </div>
    </div>

    <h3>Why Choose Vavada?</h3>
    <ul>
      <li>
        ✔️ Generous Bonuses – Enjoy welcome bonuses, free spins, and exclusive
        promotions.
      </li>
      <li>
        ✔️Fast & Secure Payments – Supports Visa, Mastercard, Skrill, Neteller,
        Cryptocurrencies, and more.
      </li>
      <li>✔️ Live Casino & Slots – Play the best games from top providers.</li>
      <li>✔️ Instant Withdrawals – Quick and hassle-free cashou</li>
      <li>
        ✔️Mobile-Friendly – Play on any device without downloading an app.
      </li>
    </ul>

    <p>
      Whether you're a seasoned gambler or a beginner, Vavada Casino provides a
      thrilling and safe gaming environment! 🚀💰
    </p>
  </div>
</section>
