@import "normalize.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.6;
  background-color: #f6f6f8;
  color: #4c4c68;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  font-family: inherit;
  line-height: inherit;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
  background-color: transparent;
}

ul,
ol,
menu {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

details > summary::-webkit-details-marker {
  display: none;
}

summary {
  list-style: none;
  cursor: pointer;
}

.container {
  min-width: 320px;
  max-width: 376px;
  padding: 0 14px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media only screen and (min-width: 1248px) {
  .container {
    max-width: 1248px;
    padding: 0 56px;
  }
}

/* ---------------------------Scroll up button--------------------- */
.scroll-up-btn {
  position: fixed;
  bottom: 30px;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fd8b0f;
  width: 40px;
  height: 40px;
  padding: 5px;
  border: none;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.546) 0px 2px 10px;
  transform: scale(0);
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.scroll-up-btn__icon {
  transform: rotate(-45deg);
  transition: stroke 0.3s ease;
  fill: #4c4c68;
  stroke: #4c4c68;
}
.scroll-up-btn:hover, .scroll-up-btn:focus-visible {
  background-color: #f7bf12;
  transform: translateY(-7px);
}
@media only screen and (min-width: 768px) {
  .scroll-up-btn {
    right: 60px;
    bottom: 50px;
    width: 45px;
    height: 45px;
  }
  .scroll-up-btn__icon {
    width: 14px;
    height: 14px;
  }
}

.show {
  transform: scale(1);
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerExtraBold.woff2") format("woff2"), url("../fonts/MullerBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerMediumItalic.woff2") format("woff2"), url("../fonts/MullerMediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100%;
  background-color: #fff;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 5px;
  padding-block: 10px;
}
@media only screen and (min-width: 768px) {
  .header__container {
    flex-wrap: nowrap;
    gap: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .header__container {
    gap: 0;
  }
}
.header__logo {
  display: flex;
  align-items: center;
  fill: #fd8b0f;
}
@media only screen and (min-width: 1200px) {
  .header__logo {
    width: 200px;
    height: 31px;
  }
}
.header__nav {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .header__nav {
    display: flex;
  }
  .header__nav__list {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}
.header__nav__link {
  position: relative;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #4c4c68;
  transition: text-decoration 0.3s ease, color 0.3s ease;
}
.header__nav__link:hover, .header__nav__link:focus-visible {
  color: #f7bf12;
}
.header__nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  background-color: #f7bf12;
  transition: transform 0.7s;
  transform-origin: right;
  transform: scaleX(0);
}
.header__nav__link:hover::after, .header__nav__link:focus-visible::after {
  transform-origin: left;
  transform: scaleX(1);
}
@media only screen and (min-width: 768px) {
  .header__nav__link {
    font-size: 16px;
  }
}
.header__button-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1;
  background-color: transparent;
  transition: fill 0.3s ease;
}
.header__button-menu svg {
  stroke: #f7bf12;
  fill: none;
}
.header__button-menu svg:hover, .header__button-menu svg:focus-visible {
  stroke: #fd8b0f;
}
@media only screen and (min-width: 768px) {
  .header__button-menu {
    padding-order: 2;
  }
}
@media only screen and (min-width: 1200px) {
  .header__button-menu {
    display: none;
  }
}
.header__auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  order: 2;
  border-top: 1px solid #363648;
  padding-top: 10px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .header__auth-wrapper {
    justify-content: end;
    border-top: none;
    padding-top: 0;
    order: 1;
  }
}
@media only screen and (min-width: 1200px) {
  .header__auth-wrapper {
    width: fit-content;
  }
}
.header__button {
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #4c4c68;
  transition: color 0.3s ease;
}
.header__button:hover, .header__button:focus-visible {
  color: #f7bf12;
}
.header__button-login {
  font-weight: 500;
  height: 20px;
  border-bottom: 1px solid #4c4c68;
  background-color: transparent;
  transition: border 0.3s ease;
}
.header__button-login:hover, .header__button-login:focus-visible {
  border-color: #f7bf12;
}
.header__button-register {
  font-weight: 800;
  text-align: center;
  height: 30px;
  border-radius: 50px;
  padding-inline: 12px;
  box-shadow: 0 3px 0 0 #871628, 0 4px 4px 0 #000;
  background-color: #fd8b0f;
  transition: box-shadow 0.3s ease;
}
.header__button-register:hover, .header__button-register:focus-visible {
  box-shadow: 3px 0 0 #871628, 0 4px 4px 0 #000, inset 0 15px 15px -3px rgba(255, 255, 255, 0.4);
}
@media only screen and (min-width: 1200px) {
  .header__button-register {
    padding-inline: 30px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1001;
  width: 100%;
  height: 100%;
  background-color: rgba(159, 150, 150, 0.0431372549);
  backdrop-filter: blur(10px);
  transition: transform 0.45s ease;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 100%;
  background: url("../images/background/bg-menu.svg") repeat #fff;
  padding: 50px 40px;
  margin-left: auto;
  transform: translateX(100%);
  transition: transform 0.45s ease;
}
@media only screen and (min-width: 768px) {
  .menu {
    padding: 70px 40px;
    width: 400px;
  }
}
.menu__logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 110px;
}
.menu__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #fd8b0f;
}
.menu__logo svg {
  width: 100px;
  height: 24px;
}
@media only screen and (min-width: 768px) {
  .menu__logo svg {
    width: 170px;
    height: 40px;
  }
}
.menu__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.menu__toggle svg {
  stroke: #4c4c68;
  transition: stroke 0.3s ease, transform 0.3s ease;
}
.menu__toggle svg:hover, .menu__toggle svg:focus-visible, .menu__toggle svg:active {
  stroke: #f7bf12;
  transform: rotate(180deg);
}
@media only screen and (min-width: 768px) {
  .menu__toggle svg {
    width: 32px;
    height: 32px;
  }
}
.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
.menu__auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-top: auto;
}

.backdrop.is-open {
  visibility: visible;
  opacity: 100;
  pointer-events: all;
}

.backdrop.is-open .menu {
  transform: translateY(0);
}

.hero {
  background: url("../images/background/bg-hero.svg") repeat-y left top;
  background-size: 100%;
  padding-block: 40px;
}
.hero__title {
  font-size: 24px;
  font-weight: 800;
  line-height: 34px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: -2px -2px 0px #fd8b0f, 2px 2px 0px #0000c8;
}
@media only screen and (min-width: 768px) {
  .hero__title {
    font-size: 28px;
  }
}
.hero__span {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #f7bf12;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .hero__span {
    font-size: 20px;
  }
}
.hero__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: end;
  background: url("../images/background/bg-hero.webp") no-repeat center;
  background-size: cover;
  height: 220px;
  width: 100%;
  margin-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .hero__img-container {
    height: 350px;
  }
}
.hero__title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: linear-gradient(270.09deg, rgba(6, 16, 79, 0) 0.07%, rgba(6, 16, 79, 0.9019607843) 25.04%, rgba(6, 16, 79, 0.9019607843) 74.96%, rgba(6, 16, 79, 0) 99.93%);
  padding-block: 10px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .hero__title-wrapper {
    padding-block: 20px;
  }
}
.hero__img-title {
  background: linear-gradient(180deg, #fff176, #ffc40f 50%, #f5b401 50.01%, #ffee5b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(1px 1px rgba(0, 5, 52, 0.5));
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .hero__img-title {
    font-size: 26px;
  }
}
.hero__button {
  position: relative;
  overflow: hidden;
  z-index: 0;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #4c4c68;
  transition: color 0.3s ease;
  font-weight: 800;
  text-align: center;
  height: 30px;
  border-radius: 50px;
  padding-inline: 12px;
  background-color: #fd8b0f;
  box-shadow: 0 0 4px #000;
}
.hero__button:hover, .hero__button:focus-visible {
  color: #fd8b0f;
}
@media only screen and (min-width: 768px) {
  .hero__button {
    padding-inline: 30px;
  }
}
.hero__button::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  transform: rotate(-180deg) scale(0);
  border-radius: inherit;
  background-color: #4c4c68;
  transition: transform 0.3s ease;
}
.hero__button:hover::after, .hero__button:focus-visible::after {
  transform: rotate(0) scale(1);
}
.hero__details-container {
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .hero__details-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: start;
  }
}
.hero__title-list {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #fd8b0f;
  text-shadow: 2px 2px 0px #000, 4px 4px 0px rgba(0, 0, 0, 0.3);
  width: 160px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .hero__title-list {
    font-size: 22px;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .hero__title-list {
    width: 260px;
  }
}
.hero__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 1220px) {
  .hero__list {
    max-width: 800px;
  }
}
.hero__item {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #414141;
}
.hero__item:has(details[open]) {
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .hero__item:has(details[open]) {
    margin-bottom: 20px;
  }
}
.hero__details:hover .hero__span-svg svg, .hero__details:focus-visible .hero__span-svg svg {
  fill: #fd8b0f;
  stroke: #fd8b0f;
}
.hero__details {
  display: block;
  transition: backgraund-color 0.3s ease, border 0.3s ease;
}
.hero__details[open] summary {
  color: #f7bf12;
}
.hero__details[open] summary svg {
  transform: rotate(180deg);
}
.hero__details[open] .hero__icon-plus {
  display: none;
}
.hero__details[open] .hero__icon-minus {
  display: block;
}
.hero__details:not([open]) .hero__icon-plus {
  display: block;
}
.hero__details:not([open]) .hero__icon-minus {
  display: none;
}
.hero .hero__details[open] + .hero__description-wrapper {
  grid-template-rows: 1fr;
}
.hero__summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  width: 100%;
  padding: 20px;
}
.hero__span-svg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__span-svg svg {
  fill: #4c4c68;
  stroke: #4c4c68;
  flex-shrink: 0;
  transition: transform 0.3s ease, fill 0.3s ease, stroke 0.3s ease;
}
@media only screen and (min-width: 768px) {
  .hero__span-svg svg {
    width: 20px;
    height: 20px;
  }
}
.hero__description-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition-duration: 0.5s;
  transition: grid-template-rows 0.5s ease, margin 0.5s ease;
}
.hero__description {
  line-height: 22px;
  font-size: 12px;
  padding-inline: 10px;
  overflow: hidden;
  padding-inline: 20px;
}
@media only screen and (min-width: 768px) {
  .hero__description {
    font-size: 14px;
  }
}
.hero__paragraph {
  font-size: 14px;
  line-height: 20px;
}
@media only screen and (min-width: 768px) {
  .hero__paragraph {
    font-size: 16px;
    line-height: 22px;
  }
}

.footer {
  background: url("../images/background/bg-footer.png") repeat #fff;
}
.footer__container {
  padding-block: 30px;
}
.footer__nav {
  margin-bottom: 30px;
}
.footer__nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #363648;
}
.footer__nav__link {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  color: #4c4c68;
  transition: text-decoration 0.3s ease, color 0.3s ease;
}
.footer__nav__link:hover, .footer__nav__link:focus-visible {
  color: #f7bf12;
}
.footer__nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  background-color: #f7bf12;
  transition: transform 0.7s;
  transform-origin: right;
  transform: scaleX(0);
}
.footer__nav__link:hover::after, .footer__nav__link:focus-visible::after {
  transform-origin: left;
  transform: scaleX(1);
}
@media only screen and (min-width: 768px) {
  .footer__nav__link {
    font-size: 16px;
  }
}
.footer__text-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}
.footer__text-wrapper svg {
  flex-shrink: 0;
}
.footer__text {
  font-size: 12px;
  line-height: 16px;
  color: #646a87;
}
.footer__details {
  display: block;
}
.footer__details[open] summary {
  color: #fd8b0f;
  transition: stroke 0.3s ease, transform 0.3s ease, color 0.3s ease;
}
.footer__details[open] summary svg {
  stroke: #fd8b0f;
  transform: rotate(360deg);
}
.footer__payment-button {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 168px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  color: #fff;
  margin-inline: auto;
  transition: color 0.3s ease;
}
.footer__payment-button svg {
  stroke: #4c4c68;
  fill: none;
  transform: rotate(180deg);
  transition: stroke 0.3s ease, transform 0.3s ease;
}
.footer__payment-button:hover, .footer__payment-button:focus-visible {
  color: #fd8b0f;
}
.footer__payment-button:hover svg, .footer__payment-button:focus-visible svg {
  stroke: #fd8b0f;
}
.footer .footer__details[open] .footer__payment-button {
  margin-bottom: 30px;
}
.footer__payment-wrapper {
  margin-bottom: 20px;
}
.footer__payment-content {
  display: grid;
  grid-template-rows: 0fr;
  transition-duration: 0.5s;
  transition: grid-template-rows 0.5s ease, margin 0.5s ease;
}
.footer__payment-body {
  overflow: hidden;
}
.footer__payment__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.footer__payment__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.031372549);
}
.footer__payment__item svg {
  width: 60px;
  height: 40px;
}
.footer__details[open] + .footer__payment-content {
  grid-template-rows: 1fr;
}
.footer__copyright {
  padding-top: 20px;
  border-top: 1px solid #363648;
  width: 100%;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
