@use "./variables";
@use "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: variables.$font-primary;
  font-weight: 400;
  background-color: variables.$primary-color;
  color: variables.$white-text-color;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  font-family: inherit;
  line-height: inherit;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
  background-color: transparent;
}

ul,
ol,
menu {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

details > summary::-webkit-details-marker {
  display: none;
}

summary {
  list-style: none;
  cursor: pointer;
}

.container {
  min-width: 320px;
  max-width: 400px;
  padding: 0 10px;
  margin: 0 auto;

  @media only screen and (min-width: 768px) {
    @include mixins.container-max-width(768px, 20px);
  }

  @media only screen and (min-width: 1200px) {
    @include mixins.container-max-width(1200px, 15px);
  }
}
