@use "./variables";
@use "./mixins";

.hero {
  background: url("../images/background/bg-hero.svg") repeat-y left top;
  background-size: 100%;
  padding-block: 40px;

  &__title {
    font-size: 24px;
    font-weight: 800;
    line-height: 34px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: -2px -2px 0px variables.$accent-color, 2px 2px 0px #0000c8;

    @media only screen and (min-width: 768px) {
      font-size: 28px;
    }
  }

  &__span {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: variables.$gold-color;
    margin-bottom: 20px;

    @media only screen and (min-width: 768px) {
      font-size: 20px;
    }
  }

  &__text {
    @include mixins.text;
    margin-bottom: 30px;
  }

  &__img-container {
    @include mixins.flex-center;
    align-items: end;
    background: url("../images/background/bg-hero.webp") no-repeat center;
    background-size: cover;
    height: 220px;
    width: 100%;
    margin-bottom: 30px;

    @media only screen and (min-width: 768px) {
      height: 350px;
    }
  }

  &__title-wrapper {
    @include mixins.flex-column;
    gap: 10px;
    background: linear-gradient(
      270.09deg,
      #06104f00 0.07%,
      #06104fe6 25.04%,
      #06104fe6 74.96%,
      #06104f00 99.93%
    );
    padding-block: 10px;
    width: 100%;

    @media only screen and (min-width: 768px) {
      padding-block: 20px;
    }
  }

  &__img-title {
    background: linear-gradient(
      180deg,
      #fff176,
      #ffc40f 50%,
      #f5b401 50.01%,
      #ffee5b
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(1px 1px rgba(0, 5, 52, 0.5));
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;

    @media only screen and (min-width: 768px) {
      font-size: 26px;
    }
  }

  &__button {
    position: relative;
    overflow: hidden;
    z-index: 0;
    @include mixins.button;
    font-weight: 800;
    text-align: center;
    height: 30px;
    border-radius: 50px;
    padding-inline: 12px;
    background-color: variables.$accent-color;
    box-shadow: 0 0 4px variables.$black-text-color;

    &:hover,
    &:focus-visible {
      color: variables.$accent-color;
    }

    @media only screen and (min-width: 768px) {
      padding-inline: 30px;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      transform: rotate(-180deg) scale(0);
      border-radius: inherit;
      background-color: variables.$white-text-color;
      transition: transform variables.$transition-delay
        variables.$transition-type;
    }

    &:hover::after,
    &:focus-visible::after {
      transform: rotate(0) scale(1);
    }
  }

  &__details-container {
    margin-bottom: 20px;

    @media only screen and (min-width: 768px) {
      @include mixins.flex-between;
      align-items: start;
    }
  }

  &__title-list {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    color: variables.$accent-color;
    text-shadow: 2px 2px 0px variables.$black-text-color,
      4px 4px 0px rgba(0, 0, 0, 0.3);
    width: 160px;
    margin-bottom: 20px;

    @media only screen and (min-width: 768px) {
      font-size: 22px;
      margin-bottom: 0;
    }

    @media only screen and (min-width: 1200px) {
      width: 260px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;

    @media only screen and (min-width: 1220px) {
      max-width: 800px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #414141;

    &:has(details[open]) {
      margin-bottom: 20px;

      @media only screen and (min-width: 768px) {
        margin-bottom: 20px;
      }
    }
  }

  &__details:hover &__span-svg,
  &__details:focus-visible &__span-svg {
    svg {
      fill: variables.$accent-color;
      stroke: variables.$accent-color;
    }
  }

  &__details {
    display: block;
    transition: backgraund-color variables.$transition-delay
        variables.$transition-type,
      border variables.$transition-delay variables.$transition-type;

    &[open] {
      summary {
        color: variables.$gold-color;

        svg {
          transform: rotate(180deg);
        }
      }

      .hero__icon-plus {
        display: none;
      }

      .hero__icon-minus {
        display: block;
      }
    }

    &:not([open]) {
      .hero__icon-plus {
        display: block;
      }

      .hero__icon-minus {
        display: none;
      }
    }
  }

  &__details[open] + &__description-wrapper {
    grid-template-rows: 1fr;
    margin-top: 10px;
  }

  &__summary {
    @include mixins.flex-between;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    width: 100%;
    padding: 20px;
  }

  &__span-svg {
    @include mixins.flex-center;

    svg {
      fill: variables.$white-text-color;
      stroke: variables.$white-text-color;
      flex-shrink: 0;

      transition: transform variables.$transition-delay
          variables.$transition-type,
        fill variables.$transition-delay variables.$transition-type,
        stroke variables.$transition-delay variables.$transition-type;

      @media only screen and (min-width: 768px) {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__description-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition-duration: 0.5s;
  }

  &__description {
    line-height: 22px;
    font-size: 12px;
    padding-inline: 10px;
    overflow: hidden;
    padding-inline: 20px;

    @media only screen and (min-width: 768px) {
      font-size: 14px;
    }
  }

  &__paragraph {
    @include mixins.text;
  }
}
