@use "./variables";

@mixin container-max-width($width, $padding) {
  max-width: $width;
  padding: 0 $padding;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-start {
  display: flex;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin button {
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: variables.$white-text-color;
  transition: color variables.$transition-delay variables.$transition-type;
}

@mixin text {
  font-size: 14px;
  line-height: 20px;

  @media only screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 22px;
  }
}
