@use "./variables";

@mixin container-max-width($width, $padding) {
  max-width: $width;
  padding: 0 $padding;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-start {
  display: flex;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@mixin text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
