@use "./variables";
@use "./mixins";

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100%;
  background-color: variables.$header-bg-color;

  &__container {
    @include mixins.flex-between;
    flex-wrap: wrap;
    row-gap: 5px;
    padding-block: 10px;

    @media only screen and (min-width: 768px) {
      flex-wrap: nowrap;
      gap: 20px;
    }

    @media only screen and (min-width: 1200px) {
      gap: 0;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    fill: variables.$accent-color;

    @media only screen and (min-width: 1200px) {
      width: 200px;
      height: 31px;
    }
  }

  &__nav {
    display: none;

    @media only screen and (min-width: 1200px) {
      display: flex;

      &__list {
        @include mixins.flex-start;
        gap: 15px;
      }
    }

    &__link {
      position: relative;
      font-size: 14px;
      line-height: 1.3;
      letter-spacing: -0.03em;
      text-transform: uppercase;
      color: variables.$text-color;
      transition: text-decoration variables.$transition-delay
          variables.$transition-type,
        color variables.$transition-delay variables.$transition-type;

      &:hover,
      &:focus-visible {
        color: variables.$gold-color;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1.5px;
        background-color: variables.$gold-color;
        transition: transform 0.7s;
        transform-origin: right;
        transform: scaleX(0);
      }

      &:hover::after,
      &:focus-visible::after {
        transform-origin: left;
        transform: scaleX(1);
      }

      @media only screen and (min-width: 768px) {
        font-size: 16px;
      }
    }
  }

  &__button-menu {
    @include mixins.flex-center;
    order: 1;
    background-color: transparent;
    transition: fill variables.$transition-delay variables.$transition-type;

    svg {
      stroke: variables.$gold-color;
      fill: none;

      &:hover,
      &:focus-visible {
        stroke: variables.$accent-color;
      }
    }

    @media only screen and (min-width: 768px) {
      padding-order: 2;
    }

    @media only screen and (min-width: 1200px) {
      display: none;
    }
  }

  &__auth-wrapper {
    @include mixins.flex-center;
    gap: 20px;
    order: 2;
    border-top: 1px solid #363648;
    padding-top: 10px;
    width: 100%;

    @media only screen and (min-width: 768px) {
      justify-content: end;
      border-top: none;
      padding-top: 0;
      order: 1;
    }

    @media only screen and (min-width: 1200px) {
      width: fit-content;
    }
  }

  &__button {
    @include mixins.button;

    &:hover,
    &:focus-visible {
      color: variables.$gold-color;
    }
  }

  &__button-login {
    font-weight: 500;
    height: 20px;
    border-bottom: 1px solid variables.$text-color;
    background-color: transparent;
    transition: border variables.$transition-delay variables.$transition-type;

    &:hover,
    &:focus-visible {
      border-color: variables.$gold-color;
    }
  }

  &__button-register {
    font-weight: 800;
    text-align: center;
    height: 30px;
    border-radius: 50px;
    padding-inline: 12px;
    box-shadow: 0 3px 0 0 variables.$shadow-color,
      0 4px 4px 0 variables.$black-text-color;
    background-color: variables.$accent-color;
    transition: box-shadow variables.$transition-delay
      variables.$transition-type;

    &:hover,
    &:focus-visible {
      box-shadow: 3px 0 0 variables.$shadow-color,
        0 4px 4px 0 variables.$black-text-color, inset 0 15px 15px -3px #fff6;
    }

    @media only screen and (min-width: 1200px) {
      padding-inline: 30px;
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1001;
  width: 100%;
  height: 100%;
  background-color: #9f96960b;
  backdrop-filter: blur(10px);
  transition: transform 0.45s ease;

  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.menu {
  position: relative;
  @include mixins.flex-column;
  width: 320px;
  height: 100%;
  background: url("../images/background/bg-menu.svg") repeat
    variables.$header-bg-color;
  padding: 50px 40px;
  margin-left: auto;
  transform: translateX(100%);
  transition: transform 0.45s ease;

  @media only screen and (min-width: 768px) {
    padding: 70px 40px;
    width: 400px;
  }

  &__logo-wrapper {
    @include mixins.flex-between;
    width: 100%;
    margin-bottom: 110px;
  }

  &__logo {
    @include mixins.flex-center;
    fill: variables.$accent-color;

    svg {
      width: 100px;
      height: 24px;

      @media only screen and (min-width: 768px) {
        width: 170px;
        height: 40px;
      }
    }
  }

  &__toggle {
    @include mixins.flex-center;
    background-color: transparent;

    svg {
      stroke: variables.$text-color;
      transition: stroke variables.$transition-delay variables.$transition-type,
        transform variables.$transition-delay variables.$transition-type;

      &:hover,
      &:focus-visible,
      &:active {
        stroke: variables.$gold-color;
        transform: rotate(180deg);
      }
      @media only screen and (min-width: 768px) {
        width: 32px;
        height: 32px;
      }
    }
  }

  &__list {
    @include mixins.flex-column;
    gap: 18px;
  }

  &__auth-container {
    @include mixins.flex-center;
    gap: 20px;
    width: 100%;
    margin-top: auto;
  }
}

.backdrop.is-open {
  visibility: visible;
  opacity: 100;
  pointer-events: all;
}

.backdrop.is-open .menu {
  transform: translateY(0);
}

.hero {
  background: url("../images/background/bg-hero.svg") repeat-y left top;
  background-size: 100%;
  padding-block: 40px;

  &__title {
    font-size: 24px;
    font-weight: 800;
    line-height: 34px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: -2px -2px 0px variables.$accent-color, 2px 2px 0px #0000c8;

    @media only screen and (min-width: 768px) {
      font-size: 28px;
    }
  }

  &__span {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: variables.$gold-color;
    margin-bottom: 20px;

    @media only screen and (min-width: 768px) {
      font-size: 20px;
    }
  }

  // &__text {
  //   @include mixins.text;
  //   margin-bottom: 30px;
  // }

  &__img-container {
    @include mixins.flex-center;
    align-items: end;
    background: url("../images/background/bg-hero.webp") no-repeat center;
    background-size: cover;
    height: 220px;
    width: 100%;
    margin-bottom: 30px;

    @media only screen and (min-width: 768px) {
      height: 350px;
    }
  }

  &__title-wrapper {
    @include mixins.flex-column;
    gap: 10px;
    background: linear-gradient(
      270.09deg,
      #06104f00 0.07%,
      #06104fe6 25.04%,
      #06104fe6 74.96%,
      #06104f00 99.93%
    );
    padding-block: 10px;
    width: 100%;

    @media only screen and (min-width: 768px) {
      padding-block: 20px;
    }
  }

  &__img-title {
    background: linear-gradient(
      180deg,
      #fff176,
      #ffc40f 50%,
      #f5b401 50.01%,
      #ffee5b
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(1px 1px rgba(0, 5, 52, 0.5));
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;

    @media only screen and (min-width: 768px) {
      font-size: 26px;
    }
  }

  &__button {
    position: relative;
    overflow: hidden;
    z-index: 0;
    @include mixins.button;
    font-weight: 800;
    text-align: center;
    height: 30px;
    border-radius: 50px;
    padding-inline: 12px;
    background-color: variables.$accent-color;
    box-shadow: 0 0 4px variables.$black-text-color;

    &:hover,
    &:focus-visible {
      color: variables.$accent-color;
    }

    @media only screen and (min-width: 768px) {
      padding-inline: 30px;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      transform: rotate(-180deg) scale(0);
      border-radius: inherit;
      background-color: variables.$text-color;
      transition: transform variables.$transition-delay
        variables.$transition-type;
    }

    &:hover::after,
    &:focus-visible::after {
      transform: rotate(0) scale(1);
    }
  }

  &__details-container {
    margin-bottom: 20px;

    @media only screen and (min-width: 768px) {
      @include mixins.flex-between;
      align-items: start;
    }
  }

  &__title-list {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    color: variables.$accent-color;
    text-shadow: 2px 2px 0px variables.$black-text-color,
      4px 4px 0px rgba(0, 0, 0, 0.3);
    width: 160px;
    margin-bottom: 20px;

    @media only screen and (min-width: 768px) {
      font-size: 22px;
      margin-bottom: 0;
    }

    @media only screen and (min-width: 1200px) {
      width: 260px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;

    @media only screen and (min-width: 1220px) {
      max-width: 800px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #414141;

    &:has(details[open]) {
      margin-bottom: 20px;

      @media only screen and (min-width: 768px) {
        margin-bottom: 20px;
      }
    }
  }

  &__details:hover &__span-svg,
  &__details:focus-visible &__span-svg {
    svg {
      fill: variables.$accent-color;
      stroke: variables.$accent-color;
    }
  }

  &__details {
    display: block;
    transition: backgraund-color variables.$transition-delay
        variables.$transition-type,
      border variables.$transition-delay variables.$transition-type;

    &[open] {
      summary {
        color: variables.$gold-color;

        svg {
          transform: rotate(180deg);
        }
      }

      .hero__icon-plus {
        display: none;
      }

      .hero__icon-minus {
        display: block;
      }
    }

    &:not([open]) {
      .hero__icon-plus {
        display: block;
      }

      .hero__icon-minus {
        display: none;
      }
    }
  }

  .hero__details[open] + .hero__description-wrapper {
    grid-template-rows: 1fr;
  }

  &__summary {
    @include mixins.flex-between;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    width: 100%;
    padding: 20px;
  }

  &__span-svg {
    @include mixins.flex-center;

    svg {
      fill: variables.$text-color;
      stroke: variables.$text-color;
      flex-shrink: 0;

      transition: transform variables.$transition-delay
          variables.$transition-type,
        fill variables.$transition-delay variables.$transition-type,
        stroke variables.$transition-delay variables.$transition-type;

      @media only screen and (min-width: 768px) {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__description-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition-duration: 0.5s;
    transition: grid-template-rows 0.5s ease, margin 0.5s ease;
  }

  &__description {
    line-height: 22px;
    font-size: 12px;
    padding-inline: 10px;
    overflow: hidden;
    padding-inline: 20px;

    @media only screen and (min-width: 768px) {
      font-size: 14px;
    }
  }

  &__paragraph {
    @include mixins.text;
  }
}

.footer {
  background: url("../images/background/bg-footer.png") repeat
    variables.$header-bg-color;

  &__container {
    padding-block: 30px;
  }

  &__nav {
    margin-bottom: 30px;

    &__list {
      @include mixins.flex-center;
      gap: 15px;
      width: 100%;
      padding-bottom: 20px;
      border-bottom: 1px solid #363648;
    }

    &__link {
      position: relative;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.3;
      color: variables.$text-color;
      transition: text-decoration variables.$transition-delay
          variables.$transition-type,
        color variables.$transition-delay variables.$transition-type;

      &:hover,
      &:focus-visible {
        color: variables.$gold-color;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1.5px;
        background-color: variables.$gold-color;
        transition: transform 0.7s;
        transform-origin: right;
        transform: scaleX(0);
      }

      &:hover::after,
      &:focus-visible::after {
        transform-origin: left;
        transform: scaleX(1);
      }

      @media only screen and (min-width: 768px) {
        font-size: 16px;
      }
    }
  }

  &__text-wrapper {
    @include mixins.flex-start;
    gap: 20px;
    margin-bottom: 30px;

    svg {
      flex-shrink: 0;
    }
  }

  &__text {
    font-size: 12px;
    line-height: 16px;
    color: #646a87;
  }

  &__details {
    display: block;

    &[open] {
      summary {
        color: variables.$accent-color;
        transition: stroke variables.$transition-delay
            variables.$transition-type,
          transform variables.$transition-delay variables.$transition-type,
          color variables.$transition-delay variables.$transition-type;

        svg {
          stroke: variables.$accent-color;
          transform: rotate(360deg);
        }
      }
    }
  }

  &__payment-button {
    @include mixins.flex-start;
    gap: 8px;
    width: 168px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    color: #fff;
    margin-inline: auto;
    transition: color variables.$transition-delay variables.$transition-type;

    svg {
      stroke: variables.$text-color;
      fill: none;
      transform: rotate(180deg);
      transition: stroke variables.$transition-delay variables.$transition-type,
        transform variables.$transition-delay variables.$transition-type;
    }

    &:hover,
    &:focus-visible {
      color: variables.$accent-color;

      svg {
        stroke: variables.$accent-color;
      }
    }
  }

  .footer__details[open] .footer__payment-button {
    margin-bottom: 30px;
  }

  &__payment {
    &-wrapper {
      margin-bottom: 20px;
    }

    &-content {
      display: grid;
      grid-template-rows: 0fr;
      transition-duration: 0.5s;
      transition: grid-template-rows 0.5s ease, margin 0.5s ease;
    }

    &-body {
      overflow: hidden;
    }

    &__list {
      @include mixins.flex-wrap;
      justify-content: center;
      gap: 10px;
    }

    &__item {
      @include mixins.flex-center;
      width: auto;
      height: 100%;
      padding: 10px 20px;
      border-radius: 5px;
      background-color: #ffffff08;

      svg {
        width: 60px;
        height: 40px;
      }
    }
  }

  &__details[open] + &__payment-content {
    grid-template-rows: 1fr;
  }

  &__copyright {
    padding-top: 20px;
    border-top: 1px solid #363648;
    width: 100%;

    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.02em;
    text-align: center;
  }
}
