$font-primary: "Muller", sans-serif;

$primary-color: #27283a;
$accent-color: #fe284a;
$white-text-color: #fff;
$black-text-color: #000;
$gold-color: #f7bf12;
$header-bg-color: #252536f2;
$shadow-color: #871628;
$footer-bg-color: #0a0a14;

$transition-delay: 0.3s;
$transition-type: ease;
