$font-primary: "Raleway", sans-serif;

$primary-bg-color: #f6f6f8;
$accent-color: #fd8b0f;
$text-color: #4c4c68;
$black-text-color: #000;
$gold-color: #f7bf12;
$header-bg-color: #fff;
$shadow-color: #871628;
$hover-color: #f65d06;

$transition-delay: 0.3s;
$transition-type: ease;
